.container {
  width: 500px;
  height: 500px;
  margin: 250px auto;
  position: relative;
}

.tile {
	width: 30%;
	height: 30%;
	float: left;
	color: #000000;
	text-align: center;
	font-size: 100px;
}

#one, #two, #three {
	border-bottom: 3px solid #000000;
}

#two {
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

#four, #five, #six {
  border-bottom: 3px solid #000000;
}

#five {
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

#eight {
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

.btn {
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  top: 80%;
  left: 50%;
	margin: -25px 0 0 -80px;}